@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .zinc {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --primary: 240 5% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4% 95%;
    --secondary-foreground: 240 5% 10%;

    --muted: 240 4% 95%;
    --muted-foreground: 240 3% 46%;

    --accent: 240 4% 95%;
    --accent-foreground: 240 5% 10%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 86%;
    --input: 240 4% 86%;
    --ring: 240 5% 64%;
  }

  .zinc.dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;

    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5% 10%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 64%;

    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 60% 30%;
    --destructive-foreground: 0 85% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 4% 84%;
  }

  .stone {
    --background: 44 36.59% 91.96%;
    --foreground: 240 6% 10%;

    --card: 0 0% 95%;
    --card-foreground: 240 5% 15%;

    --popover: 0 0% 95%;
    --popover-foreground: 240 5% 15%;

    --primary: 240 6% 10%;
    --primary-foreground: 240 5% 96%;

    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 15%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 3% 42%;

    --accent: 240 5% 90%;
    --accent-foreground: 240 5% 15%;

    --destructive: 0 67% 50%;
    --destructive-foreground: 0 0% 96%;

    --border: 240 4% 80%;
    --input: 240 4% 80%;
    --ring: 240 5% 60%;
  }

  .stone.dark {
    --background: 240 5% 15%;
    --foreground: 0 0% 96%;

    --card: 240 5% 15%;
    --card-foreground: 0 0% 96%;

    --popover: 240 5% 15%;
    --popover-foreground: 0 0% 96%;

    --primary: 0 0% 96%;
    --primary-foreground: 240 5% 15%;

    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 96%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 4% 66%;

    --accent: 240 5% 20%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 65% 35%;
    --destructive-foreground: 0 85% 96%;

    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 240 5% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
